[tool.black]
line-length = 88
target-version = ['py38']
include = '\.pyi?$'
exclude = '''(
    /(
        \.eggs/
        | \.git/
        | \.hg/
        | \.mypy_cache/
        | \.tox/
        | \.venv/
        | _build/
        | buck-out/
        | build/
        | dist/
        | node_modules/
    )/
    | /(
        __pycache__/
        | _build/
        | _pex/
        | _virtualenv/
        | bazel-out/
        | pex-out/
    )/
)'''
