[tool.ruff]
exclude = [
    ".bzr",
    ".direnv",
    ".eggs",
    ".git",
    ".git-rewrite",
    ".hg",
    ".mypy_cache",
    ".nox",
    ".pants.d",
    ".pytype",
    ".ruff_cache",
    ".svn",
    ".tox",
    ".env",
    ".venv",
    "__pypackages__",
    "_build",
    "buck-out",
    "build",
    "dist",
    "node_modules",
    "env",
    "venv",
]

target-version = "py310"

[tool.ruff.lint]
select = ["E4", "E7", "E9", "F"]
ignore = ["F401"]
fixable = ["ALL"]
unfixable = []
dummy-variable-rgx = "^(_+|(_+[a-zA-Z0-9_]*[a-zA-Z0-9]+?))$"

[tool.ruff.format]
quote-style = "double"
indent-style = "space"
skip-magic-trailing-comma = false
line-ending = "auto"

[tool.ruff.flake8-import-conventions.aliases]
altair = "alt"
"matplotlib.pyplot" = "plt"
numpy = "np"
pandas = "pd"
seaborn = "sns"

[tool.ruff.mccabe]
max-complexity = 10

[tool.black]
line-length = 110
target-version = ['py310']
include = '\.pyi?$'
exclude = '''(
    /(
        \.eggs/
        | \.git/
        | \.hg/
        | \.mypy_cache/
        | \.tox/
        | \.env/
        | \.venv/
        | _build/
        | buck-out/
        | build/
        | dist/
        | node_modules/
    )/
    | /(
        __pycache__/
        | _build/
        | _pex/
        | _virtualenv/
        | bazel-out/
        | pex-out/
    )/
)'''
